/* --- FOOTER STYLES --- */
.footer {
    background: linear-gradient(-45deg, #1d098d, #9d006e);
    color: var(--text-light);
    padding: 20px 0;
    text-align: center;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer p {
    font-size: 0.9rem;
    margin: 0;
}

.linkedin {
    color: var(--text-light);
    transition: transform 0.3s ease, color 0.3s ease;
}

.linkedin:hover {
    color: #0a66c2;
    transform: scale(1.1);
}

@media (prefers-color-scheme: dark) {
  .footer {
    color: var(--text-dark);
  }
  .linkedin {
    color: var(--text-dark);
  }
}