html, body {
  height: 100%; /* Assure que la page prend toute la hauteur */
  margin: 0;
  padding: 0;
}

#root, .App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* min-height pour s'assurer que tout prend l'écran */
}

.main-container {
  flex: 1; /* Prend tout l'espace restant pour pousser le footer */
}
